
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  margin: 0;
  color: #363636;
}


header {
    background-color: #363636;
    border-bottom: 1px solid #f5edda;
}

h1,
h2,
h5,
p {
  margin-top: 0;
}

img {
  max-width: 100%;
}

/* Typography */

.hero-text {
  background-color: #66462f;
  padding: 0.1em 0.5em;
  opacity: .7;
}

.hero-header,
.hero-body {
  color: #f5edda;
  text-align: center;
  font-weight: 700;
}

.reviewer,
.contact-label {
  font-size: 1.75rem;
}

@media (min-width: 500px) {
  body {
    font-size: 1.2rem;
  }
}





/* || Layout */

.container {
  max-width: 1200px;
  padding: 0 2em;
}

/* === navigation */

.nav-link {
  font-size: 1.125rem; 
  color: #f5edda;
  transition: color 250ms;
}

.nav-link:hover {
  color: #ca9e7b;
}

.jumbotron {
  background-image: url("./images/background-img-sm.jpg");
  background-color: #66462f;
  background-size: cover;
  padding: 10em 0 5em 0;
}

.icon-bar {
	width: 25px; 
	height: 2px;
	background-color: #f5edda;
	display: block;
	transition: all 0.2s;
	margin-top: 5px
}
 
.custom-navbar-toggler {
    padding: .25em .75em;
    line-height: 1;
    background-color: transparent;
    border-radius: .25em;
    height: 40px;
    width: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-color: transparent;
}

.custom-navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
  
.custom-navbar-toggler .middle-bar {
  opacity: 0;
}
  
.custom-navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
  
.custom-navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
  
.custom-navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
  
.custom-navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.anchor {
  position: relative;
}

.anchor a {
  position: absolute;
  left: 0;
  top: -5em;
}

.navbar-collapse ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* === section === */

.section-header {
  margin-bottom: .5em;
}

/* === products === */

.card {
  margin-bottom: 1em;
}

.card-img-top {
  max-width: 500px;
  height: 280px;
  margin: 0 auto;
  object-fit: cover;
}

.card-body {
  padding-top: 0.2em;
  padding-bottom: 0.6em;
}

/* === testimonials === */
.testimonial {
  margin-bottom: 1em;
}

/* === form === */

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

input,
textarea {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .3em 2em .3em .2em;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #363636;
  background-color: #fff;
  border: 1px solid #363636;
  border-radius: .25rem;
  transition: transform 500ms;
}

textarea {
  resize: none;
  height: 200px;
}

.form-btn {
  background-color: #66462f;
  color: #f5edda;
  align-self: flex-end;
  padding: .25em 2em;
  font-weight: 700;
  text-align: right;
  border-radius: .3em;
  transition: background-color 500ms;
}

.form-btn:hover, .form-btn:focus {
  background-color: #ca9e7b;
  color: #363636;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #363636;
  color: #f5edda;
  border-top: 1px solid #f5edda;
}

@media (min-width: 500px) {
  .jumbotron {
    background-image: url("./images/background-img-lg.jpg");
    padding: 18em 0 12em 0;
  }
} 
