html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
    background-color: #66462f;
    color: #f5edda;
}

header {
    background-color: #363636;
    border-bottom: 1px solid #f5edda;
}

.nav-link {
  color: #f5edda;
  transition: color 250ms;
}

.nav-link:hover {
  color: #ca9e7b;
}

.icon-bar {
	width: 25px; 
	height: 2px;
	background-color: #f5edda;
	display: block;
	transition: all 0.2s;
	margin-top: 5px
}
 
.custom-navbar-toggler {
    padding: .25rem .75rem;
    line-height: 1;
    background-color: transparent;
    border-radius: .25rem;
    height: 40px;
    width: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-color: transparent;
}

.custom-navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
  
.custom-navbar-toggler .middle-bar {
  opacity: 0;
}
  
.custom-navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
  
.custom-navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
  
.custom-navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
  
.custom-navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.anchor {
  position: relative;
}

.anchor a {
  position: absolute;
  left: 0;
  top: -80px;
}

.navbar-collapse ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
} 

.wrapper {
    position: relative;
    top: 75px; 
    padding-bottom: 120px;
}

.jumbotron {
  background-image: url("./images/mission-background.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  height: 45vh;
  min-height: 380px;
}

.card-img-top {
  width: 250px;
  height: 150px;
}

.card-body {
  padding-top: 0.2rem;
  padding-bottom: 0.6rem;
}

footer {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  color: #f5edda;
  border-top: 1px solid #f5edda;
  font-size: 1.2rem;
}

@media (min-width: 500px) {
  html {
    font-size: 16px;
  }

  .navbar-collapse ul {
    height: auto;
  }

  .jumbotron {
    background-image: url("./images/mission-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top left;
    height: 85vh;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .jumbotron .container-fluid {
    background-color: #66462f;
    opacity: 0.8;
  }
}

@media (min-width: 850px) { 
  html {
    font-size: 16px;
  }

  .jumbotron {
    background-image: url("./images/mission-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
  }

  .jumbotron .container-fluid {
    background-color: #66462f;
    opacity: 0.8;
  }
  
  .store-section {
    max-width: 1000px;
  }

  .testimonials-section {
    max-width: 700px;
  }

  .contact-section {
    max-width: 500px;
  }
} 